@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Inter", sans-serif;
}

.flex {
	display: flex;
	flex-direction: row;
}

body {
	width: 100%;
	height: 100dvh;

	display: flex;
	flex-direction: column;

	gap: 32px;

	align-items: center;
	justify-content: center;

	background: #f9fafb;
}

/* TOP OPTIONS */
.balance-summary {
	gap: 32px;
}

.details-card {
	width: 384px;
	height: 120px;

	display: flex;
	padding: 24px;

	flex-direction: column;
	justify-content: center;

	border-radius: 12px;
	border: 1px solid #eceff2;

	background: #fff;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.details-card h2 {
	color: #22292f;
	font: 600 2.3rem / 1.2 "Inter", sans-serif;
}

.details-card p {
	margin-bottom: 6px;
	color: #516778;
	font: 400 1.3rem / 1.2 "Inter", sans-serif;
}

.controls {
	display: flex;
	gap: 32px;
}

.action-cards {
	width: 384px;
	height: 88px;

	display: flex;

	flex-wrap: wrap;
	flex-direction: row;

	gap: 12px;
	padding: 24px;

	align-self: center;
	align-items: center;

	border-radius: 12px;
	border: 1px solid #eceff2;

	background: #fff;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.action-cards button {
	border: none;
	background: none;
	color: #333e47;
	font: 600 1.5rem / 1.6 "Inter", sans-serif;
}

.action-cards p {
	color: #516778;
	font: 400 1.2rem / 1.3 "Inter", sans-serif;
}

/* Transações */
.transactions-container {
	background: #fff;

	border-radius: 12px;
	border: 1px solid #eceff2;

	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.transactions-header {
	display: flex;

	padding: 32px;

	justify-content: center;
	flex-direction: column;
}

.transactions-header h2 {
	color: #101828;
	font: 800 1.8rem / 1.3 "Inter", sans-serif;
}

.transactions-header p {
	color: #516778;
	font: 400 1.2rem / 1.3 "Inter", sans-serif;
}

table {
	width: 1216px;
	height: 100px;

	border-spacing: 0;
	padding: 24px;
	border-collapse: collapse;

	table-layout: fixed;
}

thead {
	width: 100%;
	height: 48px;
}

th,
td {
	text-align: left;
	padding: 12px 24px;

	border-top: 1px solid #eceff2;
	border-bottom: 1px solid #eceff2;

	font: 400 1.2rem / 1.3 "Inter", sans-serif;
}

th:nth-child(1),
td:nth-child(1) {
	width: 65%;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3),
th:nth-child(4),
td:nth-child(4) {
	width: 12%;
}

th:nth-child(5),
td:nth-child(5) {
	width: 7%;
	text-align: center;
}

.options-button {
	background: none;
	border: none;
}

footer {
	color: #516778;
	font: 400 1.2rem / 1.3 "Inter", sans-serif;
}

select,
option {
	font: 400 1.2rem / 1.3 "Inter", sans-serif;
	border: 1px solid #eceff2;
	border-radius: 12px;
	border: none;
}
